uncased_L-12_H-768_A-12
vosk-model-en-us-0.22-lgraph
vosk-model-small-en-us-0.15



/Facial Recognition/reference_1.jpg
/Facial Recognition/reference_2.jpg
/Facial Recognition/WIN_20240208_00_18_23_Pro.jpg